---
---

// Reset using Normalize
@import "normalize";

// Import fonts from Google
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,800);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic);

// Site configuration
@import "config";

// Import Partials
@import "partials/typography";
@import "partials/mixins";

// Modules
@import "modules/buttons";
@import "modules/forms";
@import "modules/tables";
@import "modules/syntax";

// Mobile up base styles
@import "breakpoints/mobileup";

// Import media queries add more as you desire
@media only screen and (min-width: 800px) {
	@import "breakpoints/800up";
}
@media only screen and (min-width: 1200px) {
	@import "breakpoints/1200up";
}

/* =====================
   Responsive About Me
   ===================== */

.about-flex {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 20px;
}

.profile-img {
  width: 180px;
  border-radius: 10px;
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .about-flex {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .profile-img {
    width: 150px;
	max-width: 50%;
    margin-bottom: 15px;
  }
}

// If IE support is needed you can add them here or create another stylesheet for specific IE fixes
